<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="/game.css" type="text/css" rel="stylesheet">
</head>

<body class="bg-secondary">
	{{> header}}

	<div class="container my-2">
		<div class="row">
			<div class="col">
				<h2>{{board.getName}}</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table data-exit-row="{{board.getExitRow}}" data-exit-col1="{{board.getNumGridCols}}">
					{{#if board.getPuzzleSolved}}
					<div class="overlay">
						<h3>You Win!</h3>
						<a href="/game?fileName={{board.getName}}.json" class="btn btn-primary my-1">Reset</a>
						<a href="/loadPuzzle" class="btn btn-success">Try another</a>
					</div>
					{{/if}}
					
					<tbody class="table table-dark table-bordered">
						{{#each board.getTiles}}
							<tr class="row{{@index}}">
								{{#each this}}
									<td style="padding:0;" class="col{{@index}}">
										{{#if this.getVehicleTile}}
											{{#with this.getVehicleTile}}
											{{#with getVehicle}}
											<div style="background-color:{{getColor}}" class="containsVehicle vehicletile" data-color="{{getColor}}"></div>
											{{/with}}
											{{/with}}
										{{/if}}
									</td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>

			<div class="col-4 border-left">
				<strong>Selected car:</strong><p id="selectedTileColor"></p>

				<form action="game" method="GET">
					<input type="hidden" id="selectedTileRow" name="selectedTileRow" value="">
					<input type="hidden" id="selectedTileCol" name="selectedTileCol" value="">

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"># of tiles</span>
						</div>
						<input type="number" id="offset" class="form-control" name="offset" value="0">
						<div class="input-group-append">
							<input type="submit" class="btn btn-primary" value="Move">
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col">
				<a href="/loadPuzzle" class="text-warning">Try a different board</a> |
				<a href="/index" class="text-warning">Return to index</a>
			</div>
		</div>

	</div>

	{{> footer}}

	<script src="/game.js"></script>
	<script>
		addEventListener("load", () =>{
			let table = document.querySelector("table");
			table.style.height = table.clientWidth + 'px';
		});
	</script>
</body>
</html>